<div id="<%= dom_id pelicula %>">
  <p>
    <strong>Name:</strong>
    <%= pelicula.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= pelicula.duration %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pelicula.description %>
  </p>

</div>
